body{
    font-family: 'Itim';
    background-image: url('./IMG/BG.png');
    background-position: center top;
    background-size: cover;
}

@font-face {
    font-family: Itim;
    src: url(./Fonts/Itim.ttf);
    font-weight: 300;
    font-style: normal;
}